<div class="jumbotron ">
	<h2>Http Archive Report</h2>

	<div class="reportDiv">
		<label>Highlights</label>
		<md-content class="md-padding" layout-xs="row" >
		<div layout="row"  ng-repeat="highlight in highlights">
				<md-card layout-sm ="column">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{highlight.name}}</span>
            <span class="md-subhead">{{highlight.value}}</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
		</div>
		</md-content>
		<div class="chartsDiv" >

			<div ng-controller="BarCtrl">

				<canvas id="bar" class="chart chart-bar"
				  chart-data="data" chart-labels="labels"> chart-series="series"
				</canvas>
			</div>
		</div>


	</div>

	<md-content layout-wrap>
		<md-button class="md-raised" href="/" aria-label="description">Analyze Another .har</md-button>
	</md-content>


</div>
