<div class="jumbotron jumbotron-fluid">
	<h2>Http Archive Snapshot Report</h2>

		<hr class="m-y-2">

		<div class="container">


		<div class="cardsContainer" >

			<label>Highlights</label>
				<md-card  layout="column" layout-sm="row" ng-repeat="highlight in highlights">
        <md-card-title>
          <md-card-title-text>
            <span class="md-body-2">{{highlight.name}}</span>
            <span class="md-subhead">{{highlight.value}}</span>
            <span class="md-subhead">{{highlight.extra}}</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
			<!-- <div class="highlightCard" ng-repeat="highlight in highlights">
	  		<div class="highlightCardTitle" >{{highlight.name}}</div>
				<hr class="m-y-2">
	  		<div class="highlightCardValue" >{{highlight.value}}</div>
			</div> -->
		</div>


		<div class="chartsDiv"  ng-controller="BarCtrl">

			<div>

				<label>{{chartName}}</label>
				<canvas id="bar" class="chart chart-bar"
				  chart-data="data" chart-labels="labels"> chart-series="series"
				</canvas>
			</div>


				<div class="labelsInfo" ng-repeat="label in labelsAndUrlsToShow ">
						{{label.label}} -- {{label.url}}

				</div>

				<div>
					<md-button class="md-raised" ng-if="!showNetworkPhases"  ng-click="toggleFullUrls()" aria-label="description">{{labelsAndUrlsButtonMessage}}</md-button>
				</div>

			<div style="float: left">
				<md-button class="md-raised" ng-click="getFastestLoadingResources()" aria-label="description">Fastest Loading Resources</md-button>
			</div>
			<div style="float: left">
				<md-button class="md-raised" ng-click="getSlowestLoadingResources()" aria-label="description">Slowest Loading Resources</md-button>
			</div>
			<div style="float: left">
				<md-button class="md-raised" ng-click="getAverageHttpPhasesLoadTimes()" aria-label="description">Avg. Network Phase Times</md-button>
			</div>

		</div>


		</div>

		<hr class="m-y-2">

		<div style="float: bottom">
			<md-button class="md-raised" href="/" aria-label="description">Analyze Another .har</md-button>
		</div>


		<!-- <div ng-controller="BarCtrl">

		 <label>{{chartName}}</label>
		<canvas id="bar" class="chart chart-bar"
			chart-data="data" chart-labels="labels"> chart-series="series"
		</canvas>

		<div style="float: left">
			<md-button class="md-raised" ng-click="getSlowestLoadingResources()" aria-label="description">Slowest Loading Resources</md-button>
		</div>

		</div> -->

</div>
