body { padding-top:30px; }

.harInput {

  width: 70%;
  height: 70%;

}



.textId {

  height: 100px;
  max-height: 100px;

}

.highlightCard {

  width: 15%;



}

.highlightCardList {

  width: 90%;


}
