body { padding-top:30px; }

.harInput {

  width: 70%;
  height: 70%;

}

.textId {

  height: 100px;
  max-height: 100px;

}

.highlightCard {
  width: 90%;
  /*box-shadow: 2px 2px 2px #888888;*/
  border-style: solid;
  border-width: 2px;
  border-color: #d3d3d3;
  float: left;
	text-align: left;
	font-size: .5vw;

}

.highlightCardTitle {
  float: left;
  text-align: left;
  font-size: 2vw;
}

.highlightCardValue {
  float: left;
  text-align: left;
  font-size: 1.5vw;
}

.card {
  width: 100%;

}

.highlightCardList {

  width: 90%;


}

.chartsDiv {
  float: right;
  width: 75%;

  font-size: .7vw;

}


.cardsContainer {

    width: auto;
    float: left;
    margin: 0;
    width: 20%;
}
